html,body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	}

#map{
	height: 100%;
	width: 100%;
}

/*side mneu*/ 
.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a,ul {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size:1em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    top: 0;
    right: 25px;
    font-size: 36px;
    display: none;
}
#hamburger {
	display: none;
	color: white;
}
#title {
	color: white;
	margin:21%;
}

/*search text*/
/*i learned this form this link*/
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	margin: 1em;
	width: 3.5em;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 7em;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/*phone screens*/
@media only screen and (max-width: 768px) {
  .sidenav {
  	padding-top: 15px;
  	width: 0;
  }
  .sidenav a {
  	font-size: 1em;
  	margin-left: 10%;
  }
  #hamburger {
  	display: inline;
  }
  .sidenav .closebtn {
  	display: block;
  }
  #map {
  	width: 100%;
  	margin-left: 0%;
  }
  input[type=search] {
  	margin-left: 15%;
  }
  title {
  	margin:0%;
  }
}

@media only screen and (min-width: 769px) {
.sidenav {
    height: 100%;
    width: 20%;

}	

}


